*{
	margin:0;
	padding:0;
}
body{
	min-width:1280px;
}
header{
	position:relative;
	height:60px;
	width:100%;
	vertical-align:middle;
}
.banner-left{
	float:left;
	position:absolute;
	left:7%;
	bottom:0;
}
.banner-left img{
	width:24px;
	height:24px;
}
.banner-left h2{
	font:24px  'microsoft yahei';
	display:inline-block;
	cursor:default;
	color:#4e3a4f;
	margin:0;
	line-height:60px;
}
header ul{
	position:absolute;
	right:0;
	list-style:none;
	/* margin:1em; */
	padding:0;
	line-height:60px;
}
header ul li{
	color:grey;
	float:left;
	margin-left:1em;
	margin-right:1em;
	/* padding-bottom:1em; */
}
header ul li:hover{
	color:red;
	border-bottom:2px solid red;
}
.login{
	background:url("icon-2.jpg") no-repeat left center scroll;
	margin-left:6em;
	margin-right:4em;
	color:red;
	text-align:center;
	vertical-align:middle;
	width:70px;
	/* line-height:60px; */
	/* height:60px; */
}
.login span{
	line-height:60px;
}
.cover{
	background:url("pic01.jpg");
	background-size:100% auto;
	padding-left:4em;
	padding-top:6em;
	padding-bottom:6em
}
.cover h1{
	color:white;
	font-family:'Arial';
	font-size:60px;
}
.cover h2{
	font-family:'Arial';
	color:white;
	margin-top:1em;
	margin-bottom:2em;
	width:15em;
}
.cover input{
	background:#be4f48;
	color:white;
	text-align:center;
	vertical-align:middle;
	width:15em;
	border:0;
	font-size:20px;
	margin-bottom:20px;
	height:60px;
}
.feature{
	font-size:0;
	width:100%;
}
.feature{
	text-align:center;

}
.feature img{
	/* display:block; */
	margin:20px 50px;
}
.feature .cell{
	display:inline-block;
	/* position:relative; */
	width:25%;
	/* text-align:center; */
}
.feature p{
	font-size:14px;
	display:inline-block;
	height:60px;
	width:180px;
	padding-bottom:10px;
}
.cell div:last-child{
	border-right:2px solid grey;
}
.cell:last-child div{
	border:medium none;
}
.known{
	height:400px;
	width:100%;
	background:#edeaea;
	text-align:center;
}
.known div{
	position:relative;
	top:100px;
	font-size:50px;
	color:#534141;
}
.known img{
	position:relative;
	top:80px;
}
.city{
	position:relative;
	text-align:center;
	background:url("pic02.jpg");
	height:300px;
	width:100%;
}
.city h1{
	position:relative;
	top:50px;
	color:white;
	font-size:22px;
}
.city p{
	position:relative;
	top:70px;
	color:white;
	font-size:13px;
	margin-top:20px;
	margin-bottom:35px;
}
.city hr{
	position:relative;
	top:55px;
	margin:0 auto;
	width:30px;
	color:white;
}
.city select,input{
	position:relative;
	top:85px;
	display:inline-block;
	width:240px;
	height:30px;
	margin:0 10px;
}
.city input{
	font-size:16px;
	color:white;
	background:#be4f48;
	border:0;
}
.gallary h5{
	font-size:20px;
}
.gallary p{
	font-size:18px;
}
.gallary figure{
	display:inline-block;
	width:216px;
	margin:10px 20px;
	position:relative;
	top:40px;
}
.gallary{
	background:#edeaea;
	width:100%;
	height:500px;
	text-align:center;
}
